/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/Inter_18pt-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/Inter_18pt-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/Inter_18pt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/Inter_18pt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@theme {

  /* fonts */
  --font-inter: Inter, sans-serif;
}

body {
  font-weight: 300;
  font-size: 13px;
  @apply h-dvh w-full overflow-hidden font-inter text-sm text-gray-100 font-medium
}

.video {
  @apply w-full h-full bg-gray-100 rounded-2xl object-fill;
}

.form-control {
  @apply border border-gray-300 p-2.5 text-gray-500! rounded-md w-full outline-none focus:outline-transparent ring-0 focus:ring-0 focus:border-gray-800 transition duration-400 text-sm! placeholder:text-sm! placeholder:text-gray-500! placeholder:first-letter:capitalize!
}