/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/Inter_18pt-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/Inter_18pt-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/Inter_18pt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/Inter_18pt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@theme {
    
    /* fonts */
    --fonts-inter: Inter, sans-serif;
}

body {
    @apply h-dvh w-full overflow-hidden bg-red0-500 border border-red-500
}